@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    color:#04194D;
}
h1, h2, h3 {
    padding: 0 10px;
}
hr {
    margin: 1.4em;
}
a {
    text-decoration: none;
}
.tag {
    color: #878AF6;
    font-size: 1.4em;
}
h1 {
    font-family: "Patrick Hand", cursive;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    background: #DFF944;
    border-radius: 5px;
    box-shadow: 4px 4px #878AF6;
    transition: 0.5s;
    max-width: 305px;
    min-width: 100px;
    letter-spacing: 1px;
}
h1:hover {
    background: #04194D;
    color: white;
    box-shadow: 4px 4px #878AF6;
    font-weight: 400;
}
/*fondos*/
.fondo-neutro {
    background-color: white;
}
.fondo-form {
    background-color: #878AF6;
}
/*para subrayar de amarillo, morado ciertos elementos*/
.yellow, .purple {
    margin: 0 auto;
    width: fit-content;
    padding: 0 10px;
    border-radius: 5px;
}
.yellow {
    background: #dff944;

}
.purple {
    background: #DBDAFA;
    margin-bottom: 6px;
}
/*cajas*/
.box1 {
    flex-grow: 1;
}
.box1 a {
    text-decoration: none;
}
.box2 {
    flex-grow: 3;
}
/*cabecera y menu*/
header {
    position: relative;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
header nav div {
    display: inline-block;
}
header nav div a, header nav div ion-icon.menu-icon {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 4px;
}
header nav div a:hover, header nav div ion-icon.menu-icon:hover {
    color:#878AF6;
}
.menu-item {
    padding: 0.6em;
}
.menu-item:hover {
    transform: scale(1.1);
}
.menu-icon {
    display: none;
    font-size: 1.6em;
    float: right;
    background: #DFF944;
    border-radius: 5px;
    box-shadow: 4px 4px #878AF6;
    padding: 3px;
}
.menu-icon:hover {
    background: #04194D;
    color: white;
    box-shadow: 4px 4px #878AF6;
}
.menu-wrapper.center {
    text-align: right;
}
/*propiedades del section para que se centre su contenido*/
section {
    max-width: 1480px;
    min-height: 675px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
}
/*tamaños de fuentes*/
.font-1-4 {
    font-size: 1.4em;
}
.font-1-27 {
    font-size: 1.27em;
}
.font-1-8 {
    font-size: 1.8em;
}
/*imagen quienSoy*/
.img-avatar img {
    margin: 30px 0;
    max-width: 190px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px #04194D;
}
/*pie de página*/
footer {
    min-height: 50px;
    padding: 8px;
    margin-top: 28px;
}
.copyright {
    font-size: 1.1em;
}
.social-media div {
    display: inline-block;
}
.social-media ion-icon {
    font-size: 2em;
    padding: 8px;
    margin-top: 5px;
}
.social-media ion-icon:hover {
    transform: scale(1.1);
    background: #DFF944;
    border-radius: 50%;
}
/*flexibilizar los elemnetos contenidos de cara al responsive*/
.flex {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/*centrar objetos*/
.center {
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.mb-30 {
    margin-bottom: 30px;
}
.max-width-860 {
    max-width: 860px;
    margin: 0 auto;
}

/*querries*/
@media (max-width: 576px) {
    .hidden-mobile {
        display: none;
    }
    h1 {
        max-width: 180px;
        letter-spacing: 0.5px;
    }
    .font-1-8 {
        font-size: 1.5em;
    }
    .font-1-4 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.25em;
    }
    .font-1-27, h3 {
        font-size: 1.11em;
    }
    .img-avatar img {
        max-width: 160px;
    }
}
@media (max-width: 992px) {
    .menu-icon {
        display: block;
    }
    .menu-wrapper .menu {
        display: none;
        position: absolute;
        right: 15px;
        margin-top: 27px;
        font-size: 0.9em;
    }
    .menu-wrapper:hover>.menu {
        display: block;
        background-color: white;
        border: 1px solid #878AF6;
        border-radius: 4px 0 4px 4px;
        box-shadow: 3px 3px #878AF6;
    }
    .menu-wrapper:hover>.menu .menu-item {
        display: block;
    }
    .social-media ion-icon {
        font-size: 1.8em;
    }
}
@media (min-width: 577px) {
    .hidden-tablet-desktop  {
        display: none;
    }
}