h3 {
    color: #878AF6;
    font-weight: 600;
}
h2 { 
    color: #04194D;
    font-weight: 700;
    font-size: 1.4em;
}
.info-project a:hover {
    background-color: #878AF6;
    color: white;
    transition: 0.4s;
}
.cv-img-robot {
    max-width: 200px;
}
.cv-img-robot:hover {
    transform: scale(1.2);
}
.cv-download {
    margin-top: 58px;
}
/*botones para abrir y cerrar el panel acordeon*/
.accordion {
    border: none;
    background-color: #e6e7fc;
    box-shadow: 5px 5px #04194D;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.5s;
}
.accordion:after {
    content: "\002B"; /*Unicode (+)*/
    font-family: "Patrick Hand", cursive;
    font-size: 1.6em;
    font-weight: 600;
}
.active:after {
    content: "\002D"; /*Unicode (-)*/
}
.active, .accordion:hover {
    border: 1px solid #878AF6;
    box-shadow: 8px 8px #878AF6;
}
/*panel (ocultado por defecto)*/
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}