#form-box {
    border-radius: 10px;
}
#data {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.form-data label, .form-data input, .form-data textarea {
    width: 100%;
    background-color: #e6e7fc;
}
.form-data textarea {
    background-color: #e2e3ff;
}
.form-data {
    border: 1px solid #04194D;
    background-color: #e6e7fc;
    padding: 20px;
    box-shadow: 6px 6px #04194D;
    border-radius: 5px;
}
#data:focus {
    border-bottom: 3px solid; 
}
input, textarea {
    font-size: 1.1em;
    font-family: "Patrick Hand", cursive;
    padding: 0 5px;
}
textarea {
    resize: none;
}
button {
    background: #04194D;
    color:white;
    font-family: "Patrick Hand", cursive;
    font-size: 0.6em;
    font-weight: 600;
    border: none;
    box-shadow: 4px 4px #878AF6;
    text-transform: uppercase;
    padding: 8px 23px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: 0.5s;
    margin: 15px;
    cursor: pointer;
}
button:hover {
    background: #DFF944;
    color:#04194D;
}
.required {
    font-size: 0.8em;
    font-weight: 500;
}