h3 {
    font-size: 1.6em;
}
.container-projects {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.project {
    border-radius: 10px;
    margin: 20px;
    max-width: 380px;
    width: 380px;
    background: #e6e7fc;
    box-shadow: 5px 5px #04194D;
    transition: 0.5s;
}
.project:hover {
    box-shadow: 8px 10px #878AF6;
}
.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}
.project figure {
    overflow: hidden;
}
.project:hover img {
    transform: scale(1.2);
}
.info-project {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
.info-project button {
    background: #04194D;
    color:white;
    font-weight: 600;
    border: none;
    box-shadow: 4px 4px #878AF6;
    text-transform: uppercase;
    padding: 8px 23px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: 0.5s;
    margin: 15px;
    font-size: 1em;
    cursor: pointer;
}
.info-project button:hover {
    background: #DFF944;
    color: #04194D;
}
.info-project p {
    font-size: 1.2em;
}
.info-project p a:hover {
    background-color: #878AF6;
    color: white;
    transition: 0.5s;
}
.disabled {
    background-color: rgb(207, 202, 202);
}
.info-project button.disabled {
    background-color: rgb(207, 202, 202);
    color: #04194D;
}

/*querries*/
@media (max-width: 576px) {
    .info-project button {
        font-size: 0.8em;
    }
    h3 {
        font-size: 1.4em;
    }
}
@media (max-width: 992px) {
    .project img {
        height: 180px;
    }
}