<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Libreria iconos web https://ionic.io -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/cv.css">
    <title>CV</title>
</head>
<body class="fondo-neutro">
    <div class="container center">
        <header>
            <div class="box1">
                <a href="index.html">
                    <h1 class="hidden-mobile text-center">Patricia Gutiérrez Rivas</h1>
                    <h1 class="hidden-tablet-desktop text-center">Patricia G. R.</h1>
                </a>
            </div>
            <div class="box2">
                <nav class="menu-wrapper center">
                    <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
                    <div class="menu">
                        <div class="menu-item">
                            <a href="index.html"><ion-icon name="git-network-outline"></ion-icon> Inicio</a>
                        </div>
                        <div class="menu-item">
                            <a href="quienSoy.html"><ion-icon name="git-commit-outline"></ion-icon> Quién soy</a>
                        </div>
                        <div class="menu-item">
                            <a href="cv.html"><ion-icon name="git-branch-outline"></ion-icon> CV</a>
                        </div>
                        <div class="menu-item">
                            <a href="proyectos.html"><ion-icon name="git-compare-outline"></ion-icon> Proyectos</a>
                        </div>
                        <div class="menu-item">
                            <a href="contacto.html"><ion-icon name="git-merge-outline"></ion-icon> Contacto</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="center text-center max-width-776 font-1-3">
            <hr>
            <div>
                <h2><ion-icon name="school-outline"></ion-icon> Formación Académica</h2>
                <div class="mb-30">
                    <h3>> Grado Superior en Desarrollo de Aplicaciones Web || UNIR Formación Profesional</h3>
                    <p>👉Técnico Superior DAW con especialidad en MEAN y Full Stack</p>
                    <p class="yellow">2023 - Actualmente || Madrid</p>
                    <p><span class="tag">#</span>Java <span class="tag">#</span>Spring Boot <span class="tag">#</span>HTML5 <span class="tag">#</span>CSS3 
                        <span class="tag">#</span>Javascript <span class="tag">#</span>MySQL <span class="tag">#</span>Oracle <span class="tag">#</span>MongoDB 
                        <span class="tag">#</span>ExpressJS <span class="tag">#</span>AngularJS <span class="tag">#</span>NodeJS <span class="tag">#</span>Git 
                        <span class="tag">#</span>Github <span class="tag">#</span>UML <span class="tag">#</span>Apache Tomcat <span class="tag">#</span>Linux <span class="tag">#</span>VirtualBox
                    </p>
                </div>
                <div class="mb-30">
                    <h3>> Bootcamp en Programación Full Stack Jr. || KeepCooding®</h3>
                    <p>👉Desarrollo Web con Python y Big Data desde cero</p>
                    <p class="yellow">2022 - 2023 || Madrid</p>
                    <p><span class="tag">#</span>Python <span class="tag">#</span>Flask <span class="tag">#</span>SQLite <span class="tag">#</span>HTML5 
                        <span class="tag">#</span>CSS3 <span class="tag">#</span>Javascript <span class="tag">#</span>Bootstrap 
                        <span class="tag">#</span>Git <span class="tag">#</span>Postman</p>
                </div>
                <div class="mb-30">
                    <h3>> Certificado de Profesionalidad ADGD0108 || ADAMS Formación</h3>
                    <p>Gestión contable y gestión administrativa para auditoría</p>
                    <p class="yellow">2016 - 2017 || Madrid</p>
                </div>
                <div class="mb-30">
                    <h3>> Certificado de Profesionalidad ADGD0208 || Centro de Formación para la Mujer</h3>
                    <p>Gestión administrativa de las relaciones laborales</p>
                    <p class="yellow">2015 - 2016 || Madrid</p>
                </div>
            </div>
            <hr>
            <div>
                <h2><ion-icon name="rocket-outline"></ion-icon> Experiencia</h2>
                <div class="mb-30">
                    <h3>> Full Stack Developer || KeepCooding®</h3>
                    <p class="yellow">Octubre 2022 - Febrero 2023 || Madrid</p>
                    <p>
                        👉Desarrollo del proyecto final de bootcamp mediante la creación de una aplicación web destinada a la compra y venta de criptomonedas en Python 
                        utilizando el framework Flask, motor BBDD SQLite y consultas de valores relativos entre criptos a través de la api www.coinapi.io/
                    </p>
                    <div class="info-project">
                        <a href="https://github.com/patriciagr89/classic_project" target="_blank" class="yellow"><ion-icon name="logo-github"></ion-icon> Código Github</a>
                    </div>
                </div>
                <div class="mb-30">
                    <h3>> Asesora laboral y contable || F1Pyme S.L.</h3>
                    <p>Responsable del departamento laboral y contable de Pymes y medianas empresas.</p>
                    <p class="yellow">Junio 2017 - Abril 2024 || Madrid</p>
                    <p>Asesoramiento personalizado a clientes. Trabajo en equipo y mentoring.</p>
                    <p>Gestionamiento administrativo del ciclo laboral completo de trabajadores del régimen general, artistas, empleados de hogar y autónomos. 
                        Controlar y contabilizar Pymes y medianas empresas.</p>
                    <p><span class="tag">#</span>A3Nom <span class="tag">#</span>A3Eco <span class="tag">#</span>Sistema RED <span class="tag">#</span>SILTRA 
                        <span class="tag">#</span>Delt@ <span class="tag">#</span>Contrat@ <span class="tag">#</span>Certific@2 <span class="tag">#</span>INSS
                        <span class="tag">#</span>SEPE <span class="tag">#</span>Seguridad Social <span class="tag">#</span>AEAT <span class="tag">#</span>Facturación 
                        <span class="tag">#</span>SII <span class="tag">#</span>Impuestos <span class="tag">#</span>Renta
                    </p>
                </div>
            </div>
            <hr>
        </section>

        <footer class="text-center">
            <div class="social-media">
                <a href="mailto:“pgutierrezrivas@gmx.es" target=“_blank”><ion-icon name="mail-outline"></ion-icon></a>
                <a href="https://www.linkedin.com/in/pgutierrezrivas/" target=“_blank”><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/pgutierrezrivas" target=“_blank”><ion-icon name="logo-github"></ion-icon></a>
            </div>
            <div class="copyright">
                <p>&copy;2024 Patricia Gutierrez Rivas CFGS DAW</p>
            </div>
        </footer>
    </div>
</body>
</html>