<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Libreria iconos web https://ionic.io -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Landing Page Web</title>
</head>
<body>
<section>
    <header>
        <a href="#" class="logo">Patricia Gutiérrez Rivas</a>
        <ul class="navbar">
            <li>
                <a href="#"><ion-icon name="git-commit-outline"></ion-icon> Quién soy</a>
            </li>
            <li>
                <a href="#"><ion-icon name="git-branch-outline"></ion-icon> CV</a>
            </li>
            <li>
                <a href="#"><ion-icon name="git-compare-outline"></ion-icon> Proyectos</a>
            </li>
            <li>
                <a href="#"><ion-icon name="git-merge-outline"></ion-icon> Contacto</a>
            </li>
        </ul>
    </header>
    
    <div class="contenido">
        <div class="tituloBox">
            <h2>Estudiante CFGS DAW</h2>
            <h2><span>Desarrolladora Web</span></h2>
            <br><p class="frase">Técnica Superior en Desarrollo de Aplicaciones WEB con especialidad en MEAN y Full Stack</p>
            <br><a href="#">Más sobre mí</a>
        </div>
        <div class="imgBox">
            <img src="../img/fondo.png" alt="">
            <!-- Imagen descargada de la web <a href="https://icons8.com/illustrations/style--glow"> -->
        </div>
    </div>

    <footer>
        <div class="copyright">
            <p>&copy;2024 Patricia Gutierrez Rivas CFGS DAW Lenguaje de Marcas</p>
        </div>
        <ul class="redesSociales">
            <li>
                <a href="mailto:“pgutierrezrivas@gmx.es" target=“_blank”>
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/pgutierrezrivas/" target=“_blank”>
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://github.com/patriciagr89" target=“_blank”>
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
        </ul>
    </footer>
</section>
</body>
</html>